<!DOCTYPE html>

{% extends "tablecom/base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}
<div class="container">

<h1>{{ carnet.name }} {{ carnet.forename }} <span class="small"> né(e) le {{carnet.date_of_birth}}</span></h1>

<p class="infos">{{carnet.num_ident}}</p>

<br>



<div class="d-flex justify-content-end"><a href="{% url 'Message_Contact_List' carnet.id %}"><button type="button" class="btn btn-primary">Liste des intervenants
</button></a></div><p></p>
<p><a href="{% url 'NewArticle' carnet.id %}"><button type="button" class="btn btn-primary">Ecrire nouvelle transmission
</button></a></p>



<br><br>

    <h3>Dernières transmissions </h3>
<div class="list-group">

    {% for article in newListOfArticles %}
    <a href="" class="list-group-item list-group-item-action">    <h4> {{article.title}} </h4> <small>
        {{article.date}} par {{ article.auteur_first_name}} {{ article.auteur_last_name}}</small>
        <div class="marge3"> <br>{{article.content}}</div> </a>

    {% empty %}
        <p>Aucun article trouvé.</p>
{% endfor %}
</div></div>
{% endblock %}