<!DOCTYPE html>

{% extends "tablecom/base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}
<div class="container">

<h1>{{ carnet.name }} {{ carnet.forename }} <span class="small"> né(e) le {{carnet.date_of_birth}}</span></h1>

<p class="infos">{{carnet.num_ident}}</p>

<br>



<div class="d-flex justify-content-end">
    <a href="{% url 'Message_Contact_List' carnet.id %}">
        <button type="button" class="btn btn-primary">
            <img src="/static/images/people.svg"/>
            Intervenants
            <span class="badge bg-white rounded p-0 m-0"><div class="container rounded p-1 m-0" ><img class="img-fluid w-50" src="/static/images/notif_mess_perso.svg"/>
                <span class="badge badge-primary">{{carnet.notif_message}}</span></div></span>

        </button>

    </a>
</div>

    <p></p>
<p>
    <a href="{% url 'NewArticle' carnet.id %}">
        <button type="button" class="btn btn-primary">
            <img src="/static/images/write.svg"/>
            Ecrire nouvelle transmission
        </button>
    </a></p>



<br><br>

    <h3>Dernières transmissions </h3>
<div class="list-group">

    {% for article in newListOfArticles %}

        {% if article.active == 1 %}
        <div class="list-group-item list-group-item-action m-1">
            <div class="row">
                <div class="col-11">
                <h4> {{article.title}} </h4>
                <small>{{article.date}} par {{ article.auteur_first_name}} {{ article.auteur_last_name}}</small>
                </div>
                <div class="col-1">

                    {% if article.auteur_id == user.pk %}

                        <button type="button" class="btn btn-primary modal-dialog-centered p-1 " data-toggle="modal" data-target="#DeleteModal{{ article.pk }}">
                          <img class="img-fluid" alt="supprimer" src="/static/images/trash.svg"/>
                        </button>

                    {% else %}

                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="marge3">
                    <br>{{article.content}}
                </div>
            </div>
        </div>

            <!-- Modal -->
        <div class="modal fade" id="DeleteModal{{ article.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>Êtes vous certain de vouloir supprimer ce message ? <br>Ceci est définitif.</p>
                  Il sera remplacé par :
                  <div class="container">
                  <var><small>Commentaire du {{article.date}} par {{ article.auteur_first_name}} {{ article.auteur_last_name}}
                  supprimé le XXX par son auteur.</small></var></div>
              </div>
              <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="{% url 'DelArticle' carnet.id article.id %}">
                  <button type="button" class="btn btn-primary">Oui, supprimer</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        {% else %} <!-- in case of deleted article -->
        <div class="list-group-item list-group-item-action p-0 pl-4 m-0 ml-2 ">
            <div class="row">
                <small><small>
                    <p class="text-muted ml-2">Commentaire du {{article.date}} par {{ article.auteur_first_name}} {{ article.auteur_last_name}}
                    supprimé le {{ article.DeletedDate }} par son auteur.
                    </p>
                </small></small>
            </div>
        </div>

        {% endif %}

    {% empty %}
        <p>Aucun article trouvé.</p>
{% endfor %}
</div></div>



{% endblock %}