<!DOCTYPE html>

{% extends "tablecom/base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}
<div class="container">

<h1>{{ carnet.name }} {{ carnet.forename }} <span class="small"> né(e) le {{carnet.date_of_birth}}</span></h1>

<p class="infos">{{carnet.num_ident}}</p>

<br>
  <ul class="list-group">
    <li class="list-group-item list-group-item-warning"><h4>Responsables légaux</h4></li>
  {% for RL in newListOfRL %}
  <li class="list-group-item list-group-item-secondary"><div class="d-flex justify-content-between flex-wrap"><div>{{RL.id}}</div>
    <div><h5>{{RL.first_name}} {{RL.last_name}}</h5></div>
    <div>{{RL.email}}</div>
    <div>

            {% if user.pk != RL.id %}
        <a href="{% url 'MessageAboutTo' carnet.id RL.id %}">
            <button type="button" class="btn btn-primary">
                <img src="/static/images/message_bulle_carree.svg"/>
                Messagerie
            </button>
        </a>
            {% else %}
        <!-- grey non-link button if user == correspondant !-->
            <button  class="btn btn-outline-secondary " disabled>
                <img src="/static/images/message_bulle_carree.svg"/>
                Messagerie
            </button>
            {% endif %}

            {% if RL.NotifMessage != 0 %}
        <span class="badge bg-danger rounded ">
            <img src="/static/images/logoMessageArrived.svg"/></span>
            {% else %}
            {% endif %}



    </div>
  </div></li>
</ul>

    {% empty %}
            <p>Aucun responsable légal trouvé.</p>
            {% endfor %}

  <p></p>
<ul class="list-group">
  <li class="list-group-item list-group-item-info"><h4>Liste des professionnels</h4></li>
  {% for prof in newListOfProf %}
  <li class="list-group-item list-group-item-secondary">
    <div class="d-flex justify-content-between flex-wrap"><div>{{prof.id}}</div>
    <div><h5>{{prof.first_name}} {{prof.last_name}}</h5></div>
    <div>{{prof.email}}</div>
    <div>
            {% if user.pk != prof.id %}
        <a href="{% url 'MessageAboutTo' carnet.id prof.id %}">
            <button type="button" class="btn btn-primary">
                <img src="/static/images/message_bulle_carree.svg"/>
                Messagerie
            </button>
        </a>
            {% else %}
        <!-- grey non-link button if user == correspondant !-->
            <button  class="btn btn-outline-secondary" disabled>
                <img src="/static/images/message_bulle_carree.svg"/>
                Messagerie
            </button>
            {% endif %}

            {% if prof.NotifMessage != 0 %}
        <span class="badge bg-danger rounded ">
            <img src="/static/images/logoMessageArrived.svg"/></span>
            {% else %}
            {% endif %}

    </div>
    </div>
  </li>
</ul>
                {% empty %}
            <p>Aucun professionnel trouvé.</p>
            {% endfor %}


</div>
{% endblock %}
