{% extends "tablecom/base.html" %}
{% block title %}Gestionnaire de permissions{% endblock %}
{% block content %}

 <div class="container">
<h1>Liste des carnets</h1><br>
<div class="list-group">
{% for carnet in ChildSNBs %}
<a href="{% url 'PermissionsManagement_Detail' carnet.id %}" class="list-group-item list-group-item-action">
    	<h3>{{carnet.id}} {{ carnet.name }} {{ carnet.forename }}</h3>
    	<p> Date de naissance : {{carnet.date_of_birth}} || Numéro SS : {{carnet.num_ident}} </p>
        <br>
</a>
{% empty %}
    <p>Aucun carnet.</p>
        {% endfor %}</div></div>

{% endblock %}