<!DOCTYPE html>

{% extends "tablecom/base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Le {{ date }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Vous êtes connecté, {{ user.username }} !</h3>
                <p class="lead">Groupe : {{userGroupName}}</p>
                </div>
            <div class="col">
                <p><a href="{% url 'ChildSNotebookListVisu' %}"><button type="button" class="btn btn-primary">Carnets</button></a>
                </p>
            </div>
            <div class="col">
                 <p><a href="{% url 'deconnexion' %}"><button type="button" class="btn btn-outline-danger btn-warning">Se déconnecter</button></a></p>
            </div>
        </div>
</div>

        {% else %}

             <div class="container">
        <div class="row">
            <div class="col">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Veuillez vous connecter. </h4>
                </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Si vous n'avez pas de compte, contactez nous. </h4>
                </div>
        </div>
</div>

        {% endif %}

        {% if user.is_superuser %}<br><br>
    <div class="container">
    Acces super user :<br><br>
            <p><a href="{% url 'ProCreat' %}"><button type="button" class="btn btn-info">Nouveau professionnel</button></a>
            </p>
            <p><a href="{% url 'RLCreat' %}"><button type="button" class="btn btn-info">Nouveau responsable légal</button></a>
            </p>
            <p><a href="{% url 'ChildSNotebookCreatView' %}"><button type="button" class="btn btn-info">Nouveau carnet de liaison</button></a>
            </p>
            <p><a href="{% url 'PermissionsManagement_Main' %}"><button type="button" class="btn btn-info">Gestion de permissions</button></a>
            </p>


    <br>
            <p><a href="{% url 'AdminTools' %}"><button type="button" class="btn btn-info">AdminTools</button></a>
            </p>
    </div>
        {% endif %}
{% endblock %}
