<!DOCTYPE html>

{% extends "tablecom/base.html" %}
{% block title %}Page d'outils complémentaires d'administration{% endblock %}

{% block content %}
<h2>Outils d'administration complémentaires</h2>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lien</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Permissions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="{% url 'AdminTools_PermissionCarnetRecreation' %}">Lien </a>
</td>
      <td>Va créer tous les marqueurs de permission d'accès pour chaque ID de Carnet</td>
      <td>Nécessite l'accès à la modification de permissions.
</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock %}