<!DOCTYPE html>
    {% block head %}
<html lang="fr">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
        <style type="text/css">
      [class*="marge3"] { margin-left: 3em; }

    </style>

   <title>{% block title %}Titre de la page{% endblock %}</title>
</head>
    {% endblock %}
<body>

    <nav>
       {% block nav %}

            {% if user.is_authenticated %}

<div class="container">
  <div class="row">
    <div class="col-sm-1" style="background-color:white;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJubvac5LtNOwJtYNtNx6m67AKuexoQ3KxfZJxjtdkVQPaaN0c&usqp=CAU" class="img-responsive"  alt="Responsive image"></div>
    <div class="col-sm-2" style="background-color:white;"><a href="{% url 'accueil' %}"><button type="button" class="btn btn-primary">Accueil</button></a></div>
    <div class="col-sm-4" style="background-color:white;"><a href="{% url 'accueil' %}"><button type="button" class="btn btn-secondary">Vous avez aucun mot de suivi en attente</button></a></div>
    <div class="col-sm-4" style="background-color:white;">
        <div class="btn-group">
          <button type="button" class="btn btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu">

            <a href="{% url 'MyProfile' %}"><button type="button" class="btn btn btn-secondary btn-sm btn-block">Acceder au profil</button></a>
            <a href="{% url 'password_change' %}"><button type="button" class="btn btn btn-secondary btn-sm btn-block">Changer mot de passe</button></a><br><br>
            <div class="dropdown-divider"> </div>
            <a href="{% url 'deconnexion' %}"><button type="button" class="btn btn-danger btn-block">Se déconnecter</button></a>
          </div>
        </div>
    </div>
  </div>
</div>
            {% else %}
        <div class="container">

        </div>
            {% endif %}

       {% endblock %}
   </nav>

    {% block content %}Contenu à introduire{% endblock %}



</body>
</html>
