<!DOCTYPE html>

{% extends "tablecom/base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}
<div class="container">

{% if envoi %}L'article à bien été créé !

{% else %}

    <H3>Message de {{user.first_name}} {{user.last_name}} concernant {{ carnet.name }} {{ carnet.forename }} né(e) le {{carnet.date_of_birth}} </H3>

<p>
<form action="{% url 'NewArticle' id_carnet %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <center><input type="submit" value="Valider" class="btn btn-success"/></center>
</form>
</p>
{% endif %}

</div>
{% endblock %}