{% extends "tablecom/base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}

<div class="container">
    <H3>Messagerie <small>avec</small> {{ ContactSel.first_name }} {{ ContactSel.last_name }} <small>concernant</small> {{ carnet.name }} {{ carnet.forename}}</H3>

<!--Content part -->

{% for message in listeMessagesAT %}

<p>


  {% if message.isAuteur %}

 <div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            <div class="d-flex justify-content-between">
                <div>{{ message.contenu }}</div>
                <div></div>
            </div>
        </li>
      </ul>
        <div class="row justify-content-end"><small><small>{{ message.date }}</small></small></div>
    </div>

  </div>
  </div>

  {% else %}

  <div class="container">
  <div class="row">
        <div class="col-sm-1"></div>
    <div class="col-sm-8">

      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
            <div class="d-flex justify-content-between">
                <div>{{ message.contenu }}</div>
                <div></div>
            </div>
        </li>
      </ul>
        <div class="row justify-content-end"><small><small>{{ message.date }}</small></small></div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  </div>

</p>

  {% endif %}



{% empty %}
    <p>Vous n'avez encore échangé aucun message</p>
        {% endfor %}




<!-- Answer part -->
<p>
{% if envoi %}Message envoyé !
     <meta http-equiv="REFRESH" content="0;url="><!-- cette ligne va rediriger l'utilisateur connecté direct à la même page-->
{% else %}

    <div class="d-flex justify-content-center">
    <div class="jumbotron">
<form method="post" action="">
  {% csrf_token %}

  {{ form.as_p }}

     <div class="d-flex justify-content-end">
    <input type="submit" class="btn btn-primary " value="Envoyer" /></div>
</form>
        </div>
{% endif %}

  </p>

</div>
{% endblock %}